@import url('https://fonts.googleapis.com/css?family=Francois+One');

.block {
    fill: black;
    opacity: 0.4;
    stroke-width: 0px;
}

.block.selected {
    opacity: 1.0;
    stroke-width: 10;
}

.road {
    stroke: black;
    stroke-width: 1px;
    fill: transparent;
    opacity: 0.6;
}

text {
  font: 10px sans-serif;
}

.legend-rect {
    stroke-width: 0px;
    stroke: black;
    opacity: 0.6;
}

.legend-rect.selected {
    opacity: 1.0;
    stroke-width: 3;
}

text.title {
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
    font-weight: bold;
    opacity: .7;
}

text.abstract {
    font-style: italic;
    opacity: 0.9;
}
