.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}

.link {
  stroke: #999;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#d3_selectable_force_directed_graph:focus {
    outline-width: 0;
}
