form.leaflet-control-layers-list {
    margin: 0 0 2px;
}

.weather-type-option {
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.leaflet-retina .leaflet-control-layers-toggle {
        background-image: url(/img/layers-2x.png);
            background-size: 26px 26px;
                }

.form-group {
    text-align: start;
}

.breadcrumbs {
  font-size: small;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  font-style: italic;
  border-bottom: solid #eee 1px;
  color: #000;
}

.breadcrumbs a {
  color: #669;
}

.breadcrumbs a:hover {
  color: #000;
}

canvas {
  cursor: move;
}

.wrapper {
  width: 600px;
  margin: 1em auto;
  text-align: left;
}

.center {
  text-align: center;
}

.thumb {
  width: 200px;
  height: 220px;
  text-align: center;
  float: left;
}

.thumb img {
  width: 200px;
  height: 174px;
  border: none;
}

.clear {
  clear: both;
}

blockquote {
  border-left: solid #eee 5px;
  padding: 0 15px;
  margin: 0;
}

img.leaflet-tile{
        pointer-events: none;
    }

.layer-image {
    margin: 5px 5px 2px 5px;
}

.city-point {
    visibility: hidden;
    background: white;

    pointer-events: none;
}

.city-circle {
    fill: transparent;
    stroke: #000000;
    stroke-width: 2;
}

text.label-text {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 1.0;
    font: 14px/1.5 Tahoma, Geneva, sans-serif;
    font-weight: 900;
}

.weather-toggle {
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.weather-type {
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 3px #333333;
    /* visibility: hidden; */
}

.weather-form {
    margin: 5px 5px 5px 5px;
}

path {
  stroke-linejoin: round;
}

.land {
  stroke: #000;
  stroke-width: .5px;
  fill: none;
}

.voronoi-border {
  stroke: #fff;
  stroke-width: .1px;
}

.points {
  pointer-events: none;
}

.states {
  stroke: #000;
  stroke-width: .5px;
  fill: none;
}

.map-lines {
    fill: transparent;
    stroke-width: 1;
    stroke: black;
    pointer-events: none;
}

    .resize {
    fill-opacity: .5;
    cursor: move;
    stroke: black;
    stroke-width: 1px;
  }

  .extent {
    fill-opacity: .25;
    fill: rgb(205,130,42);
    cursor: hand;
    stroke: black;
    stroke-width: 1px;
  }

  .e {
    fill: rgb(111,111,111);
    cursor: move;
  }

  .w {
    fill: rgb(169,169,169);
    cursor: move;
  }

  path.piemonths {
      fill: rgb(231,231,231);
      stroke: black;
      stroke-width: 0.5;
  }

  path.piemonths.selected {
     fill: rgb(241,90,64);
  }

  textpath.month-label {
      font-family: Verdana;
      font-size: 12;
  }

.selected {
    stroke-width: 2px;
    visibility: visible;
}
