@import url("bootstrap/css/bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Gudea);
@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Squada+One);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Comfortaa:400,700|Telex|Righteous|Patua+One);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

/* Fonts; Nobile, Open Sans, Raleway, Oldenburg, Gudea */

@font-face {
      font-family: 'FontAwesome';
        src: url('font-awesome/fonts/fontawesome-webfont.eot?v=4.0.0');
          src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.0') format('embedded-opentype'), url('font-awesome/fonts/fontawesome-webfont.woff?v=4.0.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.0#fontawesomeregular') format('svg');
            font-weight: normal;
              font-style: normal;
          }
@font-face
{
    font-family: Nevis;
    src: url('Sansation_Light.ttf');
     }

/* Space out content a bit */
body {
  /* font-family: 'Open Sans', sans-serif; font-weight: 300; */
 /* font-family: Arial,Helvetica,san; */
    font-family:'helvetica neue',helvetica,arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #555;
}

p {
    text-align: left; 
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h4,h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

.date_and_stuff {
    text-align: right;
    font-size: 12px;
    margin: 0 0 20px;
    padding: 1px 0; 
    text-transform:uppercase;
}

.post_heading {
    margin-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {

  padding-left: 0px;
  padding-right: 0px;
}

.footer p {
    text-align: center;
}

/* Make the masthead heading the same height as the navigation */
/*
.container h6,h5,h4,h3,h2,h1 {
    font-family: Gudea;
    font-size: 90%;
}
    */

/* 
 * Inspiration:
 *
 * Charlie Parker: https://github.com/charliepark/charliepark.github.com/blob/master/stylesheets/screen.css
 */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/fonts/League_Gothic-webfont.eot');
    src: url('/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/League_Gothic-webfont.woff') format('woff'),
         url('/fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('/fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 {font-family:"LeagueGothicRegular", helvetica,"League Gothic", "Helvetica Neue", helvetica, arial, sans-serif;font-weight:normal;letter-spacing:-.025em;}


h1 {
    font-size: 80px;
}
h2 {
    font-size: 50px;
}
h4 {
    font-size: 35px;
}

li.nav_list_item{display:inline-block;margin:0;position:relative;width:60px;}

.header {
    text-align: center;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-size: 10pt;
}

.nav_links {
    margin-top: 40px;
}

.nav li {
    text-align: right;
}

.nav li a {
    padding-top: 15px;
    color: #A3BFCF;
    font-size: 9pt;
    font-weight: bold;
}
/* Customize container */
@media (min-width: 300px) {
  .container {
    max-width: 500px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 26px;
}

.marketing h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.centered {
    text-align: center;
}

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.highlight {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
