.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
      }

      .main-title {
    font: 13px sans-serif;
          text-anchor: middle;
          font-weight: bold;
      }

      .name-label {
          font-size: 150%;
          font-family: Impact, Charcoal, sans-serif;
          text-anchor: end;
      }

      .email-label {
          font: 12px sans-serif;
          font-style: italic;
          text-anchor: end;
      }

      .axis-label {
            font: 12px sans-serif;
          text-anchor: middle;
          /* font-weight: bold; */
      }

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.activities-line {
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: "round";
    opacity: 0.6;
}

.activity-connection {
    stroke: black;
    /* stroke-dasharray: "5,5"; */
    stroke-width: 1px;
}

.activity-text {
            font: 13px sans-serif;
        }

        .activity-point {
            stroke: black;
            stroke-width: 2;
            fill: transparent;
        }
