<hr>

<b>Other Cities</b>
<br>
<br>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNorthAmerica">
            <b>North and Central America</b>
            </a>
        </div>
        <div id="collapseNorthAmerica" class="accordion-body collapse out">
            <div class="accordion-inner">

            {% include nca_isochrone_driving_cities_list.html %}

            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEurope">
            <b>Europe</b>
            </a>
        </div>
        <div id="collapseEurope" class="accordion-body collapse out">
            <div class="accordion-inner">

            {% include europe_isochrone_driving_cities_list.html %}

            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSouthAmerica">
            <b>South America</b>
            </a>
        </div>
        <div id="collapseSouthAmerica" class="accordion-body collapse out">
            <div class="accordion-inner">

            {% include south_america_isochrone_driving_cities_list.html %}

            </div>
        </div>
    </div>


    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseAfrica">
           <b>Africa</b>
            </a>
        </div>
        <div id="collapseAfrica" class="accordion-body collapse out">
            <div class="accordion-inner">

            {% include africa_isochrone_driving_cities_list.html %}

            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseAsia">
           <b>Asia</b>
            </a>
        </div>
        <div id="collapseAsia" class="accordion-body collapse out">
            <div class="accordion-inner">

            {% include asia_isochrone_driving_cities_list.html %}

            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseAustralia">
           <b>Australia and Oceania</b>
            </a>
        </div>
        <div id="collapseAustralia" class="accordion-body collapse out">
            <div class="accordion-inner">

            {% include australia_and_oceania_isochrone_driving_cities_list.html %}

            </div>
        </div>
    </div>

</div>



<hr>
