.boundary-path {
    stroke: black;
    stroke-width: 1;
    fill: grey;
    opacity: 0.5;
}

text {
    visibility: hidden;
    pointer-events: none;
}

text.selected {
    visibility: visible;
}

a.selected {
    background-color: yellow;
}
