svg {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: .5px;
}

.x.axis path {
  stroke: #000;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis line {
  stroke: #ddd;
}

.resort-rect {
    stroke: transparent;
    fill: black;
    opacity: 0.5;
}

.pane {
    fill: transparent;
    stroke: transparent;
}
.resort-name {
    text-anchor: middle;
    font: 11px sans-serif;
}
