#continents-table {
    width: 100%;
}

td.continent-cell {
    width: 16%;
    text-align: center;
}

#resort-stuff {
    position: relative;
}

#map-area {
    position: absolute;
    left: 0;
    top: 0;
}

.boundary-path {
    stroke: black;
    stroke-width: 1;
    fill: red;
    opacity: 0.5;
}

text {
    visibility: hidden;
    pointer-events: none;
}

path.annotated {
    fill: green;
}

path.selected {
    fill: yellow;
}

text.selected {
    visibility: visible;
}

a.selected {
    background-color: yellow;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    position: absolute;
    width: 550px;
    height: 100%;
                        }
