@import url(https://fonts.googleapis.com/css?family=Crimson+Text:600);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Cambo);

#everything {
    width: 850px;
    margin: 0 auto;
}

#continents-table {
    width: 100%;
}

body {
    font-family: 'Cambo', serif;
    font-size: 10pt;
}

a {
    text-decoration: none;
}


.area {
    font-family: 'Cambo', serif;
    font-size: 10pt;
}

.area-circle {
    stroke-width: 1;
    stroke: black;
    opacity: 0.5;
}

td.continent-cell {
    width: 16%;
    text-align: center;
    font-family: "Cambo", sans-serif;
    font-weight: 600;
    font-size: 11pt;
    border-right: solid;
    border-color: #CCCCCC;
    border-right-width: 1px;
}

td.last-cell {
    border-right: none;
}

#resort-stuff {
    position: relative;
}

#map-area {
    position: absolute;
    left: 0;
    top: 0;
}

.boundary-path {
    stroke: black;
    stroke-width: 1;
    fill: red;
    opacity: 0.5;
}

text {
    visibility: hidden;
    pointer-events: none;
}

circle.annotated {
    fill: green;
}

circle {
    fill: red;
}

path.annotated {
    fill: green;
}

path.selected {
    fill: yellow;
}

text.selected {
    visibility: visible;
}

a.selected {
    background-color: yellow;
}

ul.area-list {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    position: absolute;
    width: 550px;
    height: 100%;
}
