---
layout: default
---

<link rel="stylesheet" href="/css/leaflet.css">
<script src="/js/leaflet.js"></script>
<script src="/js/isochrone_driving_map.js"></script>
<script src="/js/conrec.js"></script>
<script src="/js/cubehelix.js"></script>
<script src="/js/tile.stamen.js"></script>

This map shows how far one may expect to drive in less than 24 hours
starting in {{ page.city }}.
<br>
<br>

<div id="isochroneMap" style="height: 400px; width: 550px;"></div>
<div id="isochroneMapLegend" style="height: 40px; width: 550px;"></div>

<hr>


<hr>
<b>Other Cities</b>
<br>
<br>

<b> Europe </b>
<br>
<br>

{% include europe_isochrone_driving_cities_list.html %}

<br>
<b> North America </b>
<br>
<br>


<hr>
The origin of this map is described in slightly more detail <a href="/2015/05/20/driving-isochrone-map/">in the original blog post.</a>

<hr>
<b>Errata / Disclaimer</b>
<br>
Everything is an estimate. Rounding errors abound. Don't use this for anything but entertainment and curiosity. But you already know that.
<br>
<br>

Some data may be missing. There may be faster routes.
If you find issues, please let me know
and I'll do my best to fix them.
<br>
<br>

{{ content }}
