---
layout: default
---

<link rel="stylesheet" href="/css/leaflet.css">
<script src="/js/leaflet.js"></script>
<script src="/js/isochrone_map.js"></script>
<script src="/js/conrec.js"></script>
<script src="/js/cubehelix.js"></script>
<script src="/js/tile.stamen.js"></script>

This map shows how long one would expect to travel to any point in Europe
starting in {{ page.city }}, using only trains and walking at a brisk rate of 5 min / kilometer.
<br>
<br>

<div id="isochroneMap" style="height: 400px; width: 550px;"></div>
<div id="isochroneMapLegend" style="height: 40px; width: 550px;"></div>

<hr>


<hr>
<b>Other Cities</b>
<br>
<br>

<table style="width: 550px;">
<tr>
<td><a href="/supp/isochrone_amsterdam">Amsterdam</a></td>
<td><a href="/supp/isochrone_antwerp">Antwerp</a></td>
<td><a href="/supp/isochrone_barcelona">Barcelona</a></td>
<td><a href="/supp/isochrone_belgrade">Belgrade</a></td>
</tr>
<tr>
<td><a href="/supp/isochrone_berlin">Berlin</a></td>
<td><a href="/supp/isochrone_bratislava">Bratislava</a></td>
<td><a href="/supp/isochrone_brussels">Brussels</a></td>
<td><a href="/supp/isochrone_budapest">Budapest</a></td>
</tr>
<tr>
<td><a href="/supp/isochrone_copenhagen">Copenhagen</a></td>
<td><a href="/supp/isochrone_dublin">Dublin</a></td>
<td><a href="/supp/isochrone_frankfurt">Frankfurt</a></td>
<td><a href="/supp/isochrone_geneva">Geneva</a></td>
</tr>
<tr>
<td><a href="/supp/isochrone_helsinki">Helsinki</a></td>
<td><a href="/supp/isochrone_jena">Jena</a></td>
<td><a href="/supp/isochrone_ljubljana">Ljubljana</a></td>
<td><a href="/supp/isochrone_london">London</a></td>
</tr>
<tr>
<td><a href="/supp/isochrone_madrid">Madrid</a></td>
<td><a href="/supp/isochrone_oslo">Oslo</a></td>
<td><a href="/supp/isochrone_paris">Paris</a></td>
<td><a href="/supp/isochrone_podgorica">Podgorica</a></td>
</tr>
<tr>
<td><a href="/supp/isochrone_prague">Prague</a></td>
<td><a href="/supp/isochrone_riga">Riga</a></td>
<td><a href="/supp/isochrone_rome">Rome</a></td>
<td><a href="/supp/isochrone_sofia">Sofia</a></td>
</tr>
<tr>
<td><a href="/supp/isochrone_stockholm">Stockholm</a></td>
<td><a href="/supp/isochrone_tallinn">Tallinn</a></td>
<td><a href="/supp/isochrone_vienna">Vienna</a></td>
<td><a href="/supp/isochrone_vilnius">Vilnius</a></td>
</tr>
<tr>
<td><a href="/supp/isochrone_warsaw">Warsaw</a></td>
<td><a href="/supp/isochrone_zagreb">Zagreb</a></td>
<td><a href="/supp/isochrone_zurich">Zurich</a></td>
</tr>
</table>

<hr>
The origin of this map is described in slightly more detail <a href="/2015/05/20/europe-isochrone-map/">in the original blog post.</a>

<hr>
<b>Errata / Disclaimer</b>
<br>
Everything is an estimate. Rounding errors abound. Don't use this for anything but entertainment and curiosity. But you already know that.
<br>
<br>

Some data may be missing. There may be faster connections.
If you find issues, please let me know
and I'll do my best to fix them.
Thanks to <i>cuicuit</i> on reddit and
<a href="https://twitter.com/yorksranter">@yorksranter</a> for pointing out missing data
for Paris and London!
<br>
<br>

Ireland and parts of Spain are not well represented due to missing data.

{{ content }}
