---
layout: default
---

<link rel="stylesheet" href="/css/leaflet.css">
<script src="/js/leaflet.js"></script>
<script src="/js/isochrone_driving_map.js"></script>
<script src="/js/cubehelix.js"></script>
<script src="/js/tile.stamen.js"></script>

This map shows how far one may expect to drive in less than 24 hours
starting in {{ page.city }}.
<br>
<br>

<div id="isochroneDrivingMap" style="height: 400px; width: 550px;"></div>
<div id="isochroneDrivingMapLegend" style="height: 40px; width: 550px;"></div>

{% include isochrone_driving_cities_list.html %}

The origin of this map is described in slightly more detail <a href="/2015/09/01/isochrone-driving-map/">in the original blog post.</a>

<hr>
<b>Errata / Disclaimer</b>
<br>
Everything is an estimate. Rounding errors abound. Don't use this for anything but entertainment and curiosity. But you already know that.
<br>
<br>

Some data may be missing. There may be faster routes.
If you find issues, please let me know
and I'll do my best to fix them.
<br>
<br>

{{ content }}
